@model List<Trainee>
<a asp-controller="Trainee" asp-action="New">Add New Trainee</a>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Image</th>
        <th>Department</th>
        <th>Grade</th>
    </tr>
    @foreach (var i in Model)
    {


        <tr>
            <td>@i.Name</td>
            <td>@i.Address</td>
            <td>@i.Image</td>
            <td>@i.Department.Name</td>
            <td>@i.Grade</td>
        </tr>
    }

</table>
